html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0; 
    color: #505050; 
    background-color: #f3f3f3;
	font-family: arial, helvetica, sans-serif ;
	font-size: 12pt ;
}
#main {
	height: 100%;
	padding: 20px 20px 20px;
}
#acls {
	height: 75%;
	overflow: scroll;
}
h1, h2 {
    text-align: center;
}
.odd {
	background-color: blanchedalmond;
}
.even {
	/*background-color: powderblue;*/
	background-color: #cde1ff;
}
.result td {
	border: none;
	padding: 8px;
}
.result tr:hover {
	background-color: gold;
}
#panel {
	position: fixed;
	bottom: 0%;
	width: 100%;
	background-color: beige;
	padding: 20px 20px 20px ;
}
.selected {
	background-color: orange;
}